<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting propertyKey="@Properties.apiKey"
             title="@Strings.SettingApiKeyTitle">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.tileBufferSize"
             title="@Strings.SettingBufferSizeTitle">
        <settingConfig type="numeric"
                       min="4"
                       max="36" />
    </setting>

    <setting propertyKey="@Properties.defaultZoom"
             title="@Strings.SettingDefaultZoomTitle">
        <settingConfig type="numeric"
                       min="5"
                       max="15" />
    </setting>

    <setting propertyKey="@Properties.tileUrlTemplate"
             title="@Strings.SettingTileUrlTitle">
        <settingConfig type="alphaNumeric" />
    </setting>
</settings>
